[submodule "Quoddy"]
	path = Quoddy
	url = https://github.com/fogbeam/Quoddy
[submodule "Neddick"]
	path = Neddick
	url = https://github.com/fogbeam/Neddick
[submodule "Heceta"]
	path = Heceta
	url = https://github.com/fogbeam/Heceta
[submodule "Hatteras"]
	path = Hatteras
	url = https://github.com/fogbeam/Hatteras
